.primaryBanner_imageLarge-middle,.primaryBanner_imageLarge-right {
	min-height:initial
}
@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none) {
	.basket_discountAlert:before {
	display:inline-block;
	height:20px;
	width:20px
}
}@supports (-ms-accelerator:true) {
	.basket_discountAlert:before {
	display:inline-block;
	height:20px;
	width:20px
}
}@supports (-ms-ime-align:auto) {
	.basket_discountAlert:before {
	display:inline-block;
	height:20px;
	width:20px
}
}@media screen and (min-width:540px) {
	.responsiveBasket_basketButtons_flexItem {
	-ms-flex:auto;
	flex:auto
}
}.productQuickbuy_content .productQuantityInput_messageBlockQuantities {
	display:none
}
.slide-out-basket,.slide-out-navigation {
	z-index:2
}
.product-recommendations {
	z-index:1
}
.threeItemEditorial_textContainer {
	display:block
}
.productReviews_summary-right {
	min-width:0
}
.createReview_recaptcha {
	overflow:hidden
}
.primaryBanner_link {
	width:100%
}
.productNutritionalIcons_listItemToolTip {
	word-break:keep-all
}
.productReviews_ratingBreakdownContainer {
	width:100%
}
.productReviews_ratingBreakdown {
	display:-ms-flexbox;
	display:flex;
	vertical-align:unset;
	-ms-flex-align:center;
	align-items:center
}
.productReviews_ratingBreakdownBar {
	padding-bottom:0;
	width:unset;
	-ms-flex-positive:1;
	flex-grow:1
}
.productDescription_contentPropertyValue strong {
	font-weight:700
}
.productListContent_content {
	-ms-flex-align:start;
	align-items:flex-start
}
.trendingHashtagBlock_itemLink {
	margin-left:auto;
	margin-right:auto
}
.facets_listPanelTitle.facets_listPanelTitle.facets_listPanelTitle {
	text-transform:none
}
.productDeliveryAndReturns {
	display:none
}
@media screen and (min-width:1000px) {
	.productImagesBlock_thumbnailWrapper {
	width:auto
}
}.nav-main .widget-row .widget-block {
	width:auto !important
}
.nav-main .widget-block.brands {
	width:auto !important
}
.nav-main .submenu-wrap .widget-set .widget-block {
	width:auto !important
}
.basket .lp-panel {
	top:78px
}
