/* 用户菜单补充样式 */
.settingsCard_img {
    display:block;
    margin:20px auto;
    width: 20px;
    height: 20px;
}
.settingsCard_menu {
    width: 16.666% !important;
    clear: none !important;
}
.settingsCard_menu .settingsCard {
    min-height: auto !important;
}
.settingsCard_menu .curs .settingsCard_title {
    color: #79a9b4;
    font-weight: bold;
}

.myAccountSection_header_extra_text {
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    border-right: 0;
    width: 50%;
    margin-bottom: 5px;
}

.accountSettingsCard_formFieldset .date_select {
	padding-left: 0px;
	padding-right: 0px;
	border: none;
	background-color: transparent;
}

.accountSettingsCard_formFieldset .date_select select {
	webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
    float: left;
    width: 20%;
    margin-bottom: 24px;
    height: 48px;
    border: 1px solid #e6e6e6;
    margin-right: 10px;
}

.accountSettingsCard_formFieldset .input_radio {
	padding-left: 0px;
	padding-right: 0px;
	border: none;
	background-color: transparent;
	font-size: 15px;
	height: auto;

}

.accountSettingsCard_formFieldset .input_radio input {
    margin: 0 0px 0 0;
    display: inline-block;
    cursor: pointer;
    height: auto;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.accountSettingsCard_formFieldset .input_radio span {
	vertical-align: middle;
    margin-right: 10px;
}

.bouns_sn_input {
	line-height: 20px;
    color: #2c2d2d;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    padding: 11px;
    background-color: #fff;
    outline: none;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    margin-right: 0;
    margin-bottom: 12px;
    height: 40px;
    width: auto;
}

.pagebar .page_now {
    color: #FFFFFF;
    background: #ff8787;
}